<div class="row">
  <div class="col-md-6 text-left">
    <h1>Add New Robot</h1>
  </div>

  <div class="col-md-6 text-right">
    <%= link_to 'Back', robots_path, class: 'btn btn-light btn-outline-dark' %>
  </div>
</div>

<hr>

<%= render 'form', robot: @robot %>
